.react-toggle {
	touch-action: pan-x;
	display: inline-block;
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.react-toggle--disabled {
	cursor: not-allowed;
	opacity: 0.5;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.react-toggle-track {
	width: 50px;
	height: 24px;
	padding: 0ch;
	border-radius: 30px;
	background-color: var(--border);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.react-toggle-track-check {
	position: absolute;
	/* height: 380%;  */
	height: 100%;
	top: 3.5px;
	/* top: 30px; */
	/* bottom: 0px; */
	margin-left: 3px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 0;
	left: 4px;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
	color: white;
}

.react-toggle--checked .react-toggle-track-check {
	opacity: 1;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.react-toggle-track-x {
	position: absolute;
	width: 14px;
	height: 100%;
	top: 3.5px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 0;
	right: 8px;
	opacity: 1;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
	opacity: 0;
}

.react-toggle-thumb {
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	position: absolute;
	top: 2px;
	left: 4px;
	right: 4px;
	bottom: 1px;
	width: 20px;
	height: 20px;
	border: 0px solid hsla(0, 0%, 100%, 0.05);
	border-radius: 50%;
	background-color: var(--quaternary-color);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
	left: 27px;
	background-color: var(--quaternary-color);
	/* border-color: #333; */
	/* border-color: red; */
}

@media (max-width: 600px) {
	.react-toggle-track-check {
		height: 100%;
		top: 5px;
		margin-left: 5px;
	}
	.react-toggle-track-x {
		width: 30%;
		height: 100%;
		top: 3.5px;
	}
}
