@import "../../../data/styles.css";

.homepage-certificate {
	width: 80%;
	mix-blend-mode: normal;
	border-radius: 20px;
	padding: 30px;
	opacity: 0.8;
}

.homepage-certificate:hover {
	background: var(--quaternary-color);
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.homepage-certificate-header {
	display: flex;
	justify-items: space-between;
}

.homepage-certificate-logo {
	width: 45px;
	margin-top: 7px;
	margin-right: 5px;
	justify-content: center;
}

.homepage-certificate-logo img {
	height: 35px;
	width: 35px;
	border-radius: 10%;
}

.homepage-certificate-content {
	padding-top: 20px;
}

.homepage-certificate-date {
	opacity: 1;
	color: var(--tertiary-color);
	font-size: 12px;
	margin-top: 4px;
	margin-bottom: 2px;
}

.homepage-certificate-title {
	opacity: 1;
	color: var(--primary-color);
	font-size: 16px;
	font-weight: 700;
}

.homepage-certificate-description {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 12px;
	line-height: 1.5;
}

.homepage-certificate-link {
	opacity: 1;
	padding-top: 10px;
	margin-right: 10px;
	text-align: right;
	font-size: 15px;
	font-weight: 700;
}

.homepage-certificate-link a {
	color: var(--link-color);
	text-decoration: none;
}

@media (max-width: 600px) {
	.homepage-certificate {
		width: 90%;
	}
}
