:root {
	/* ------- colors ------- */
	--primary-color: white;
	--secondary-color: #e4e4e7;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--nav-font-color: white;
	/* --nav-font-color: #27272a; */
	--link-color: #4682b4;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
